html {
  height: 100%;
  width: 100%;
}

header {
  text-align: center;
  font-family: sans-serif;
  color: red;
}

body {
  background-color: gray;
  background-image: url("soundCloudprojectpic.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
}

.music-player {
  width: 50%;
  padding-bottom: 3rem;
  margin: 0 0 0 350px;
}

.search {
  display: flex;
  flex-wrap: wrap;
}
.search-form {
  display: flex;
}

#inputArea {
  flex: 1 50%;
  margin: 0 0 0 350px;
}

#searchSubmit {
 padding: 10px;
 border: none;
}

/* RESULT AREA */

.results {
  display: flex;
  flex-flow: row wrap;
  margin-top: 2rem;
  box-sizing: border-box;
}

.profile {
  align-items: center;
  
}

.songTitle {
  height: 20px;
  color: white;
  text-transform: uppercase;
}

.artistName {
  height: 20px;
  color: white;
  text-transform: uppercase;
}

.albumCover {
  height: 200px;
  width: 200px;
  margin: 10px;
}
