html {
  height: 100%;
  width: 100%;
  background: url("soundCloudprojectpic.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.container {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #252527;
  padding: 10px;
}

.titleHeader {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  color: #d1c8c4;
  font-size: 50px;
}

h1 {
  padding: 0;
}

.search {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.search-form {
  display: flex;
  flex-direction: column;
}

::-webkit-input-placeholder {
  text-align: center;
}

#searchSubmit {
  background-color: transparent;
  border: none;
  color: #f2e9f3;
  font-size: 20px;
  padding: 10px;
  margin-left: 10px;
  width: 150px;
}

/* RESULT AREA */

.results {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 2rem 4rem 0 4rem;
}

.profile {
  flex: 1 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.songTitle {
  color: #f2e9f3;
  text-transform: uppercase;
  font-size: 26px;
  background-color: #252527;
  text-align: center;
  margin: 10px;
  padding: 10px;
  font-family: 'Amatic SC', cursive;
}

.artistName {
  color: #f2e9f3;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  background-color: #252527;
  margin: 0;
  padding: 10px;
  font-family: 'Amatic SC', cursive;
}

.albumCover {
  height: 175px;
  width: 175px;
  margin: 2px;
}
