html {
  height: 100%;
  width: 100%;
}

header {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  color: #D1C8C4;
  font-size: 50px;
}

h1 {
  margin-bottom: 1px;
}

body {
  background-color: gray;
  background-image: url("soundCloudprojectpic.jpg");
  background-size: cover;
  background-repeat: repeat;
  height: 100%;
  width: 100%;
}

.music-player {
  width: 50%;
  padding-bottom: 3rem;
  margin: 0 0 0 350px;
}

.search {
  display: flex;
  flex-wrap: wrap;
}
.search-form {
  display: flex;
}

#inputArea {
  flex: 1 50%;
  margin: 0 0 0 372px;
  width: 500px;
}

::-webkit-input-placeholder {
  text-align: center;
}

#searchSubmit {
  padding: 10px;
  border: none;
  margin-left: 10px;
  width: 150px;
  background-color: transparent;
  color: #F2E9F3;
  font-size: 20px;
}

/* RESULT AREA */

.results {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 2rem 4rem 0 4rem;
}

.profile {
  flex: 1 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.songTitle {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  background-color: #252527;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.artistName {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  background-color: #252527;
  margin: 0;
  padding: 10px;
}

.albumCover {
  height: 175px;
  width: 175px;
  margin: 2px;
}
